* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 60px;
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

form {
  &.hidden {
    display: none;
  }
}

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
