body.preview,
body.swatch {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
  }

  .swatch {
    margin: 60px 0;
  }

  .fills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .fillCard {
    display: flex;
    flex-direction: column;
    width: 202px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-decoration: none;
  }

  .fillColor {
    width: 200px;
    height: 50px;
  }

  .fillCardInfo {
    background-color: white;
    padding: 10px;
  }

  .fillName {
    color: grey;
  }
}
