body.swatches {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
  }

  .swatch {
    margin: 60px 0;
  }

  .fills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .fillCard {
    display: flex;
    flex-direction: column;
    width: 202px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-decoration: none;
  }

  .fillColor {
    width: 200px;
    height: 50px;
  }

  .fillCardInfo {
    background-color: white;
    padding: 10px;
  }

  .fillName {
    color: grey;
  }

  .newSwatchForm {
    margin: 30px 0;

    .addFillButton {
      cursor: pointer;
      width: 202px;
      height: 104px;
      line-height: 104px;
      text-align: center;
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 5px;

      &:hover {
        background-color: rgb(237, 237, 237);
      }
    }
  }

  .headingInput {
    width: 950px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  .swatchFillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 950px;
    max-height: 600px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-y: scroll;
  }

  .fillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    width: 950px;
    max-height: 600px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-y: scroll;

    .fillCard {
      height: fit-content;
    }

    .preloader {
      width: 100%;
      margin-top: 280px;
      text-align: center;
    }
  }
}
